<div class="search-component">
    <div class="search-component-body">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" 
                    ng-model="suggestInputCtrl.selectedSuggestion" 
                    placeholder="Locations, addresses, street names" 
                    uib-typeahead="suggestion.label for suggestion in suggestInputCtrl.getSuggestion($viewValue)" 
                    typeahead-loading="suggestInputCtrl.loadingSuggestions" 
                    typeahead-no-results="noResults" 
                    class="form-control">
        </div>
    </div>
</div>