<section id="search-method-view" class="container-fluid">

	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-4">
			<tile icon="fa-search" color="red" title="Search By Text" on-click="searchMthdCtrl.searchByText()" ></tile>
		</div>	

		<div class="col-xs-6 col-sm-4 col-md-4">
			<tile icon="fa-map-o" color="blue" title="Search By Map" on-click="searchMthdCtrl.searchByMap()"></tile>
		</div>	

		<div class="col-xs-6 col-sm-4 col-md-4">
			<tile icon="fa-map-marker" color="green" title="Use Current Location" on-click="searchMthdCtrl.searchByLocation()"></tile>
		</div>
	</div>

</section>