.search-component {

	>.search-component-body{
		padding: 5px;
		margin: 5px;
	
		>.input-group > span.input-group-addon {
			background-color: $color_green;
			color: $color_white;
		}
	}

}

.suggestion-item {
	display: inline-block;
	width: 100%;
	padding: 10px;

	>.suggestion-icon {
		float: left;
		height: 100%;
	}

	>.suggestion-link {
		float: right;
	}

	>.suggestion-subtitle {
		font-size: 0.9em;
		font-style: italic;
		color: $color_blue;
	}
}

